# Avalanche RPC URL
AVALANCHE_RPC_URL=https://api.avax.network/ext/bc/C/rpc
DATABASE_URL=postgresql://admin:admin@localhost:5433/usdc_transactions

# PostgreSQL Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=usdc_transactions

# NestJS App Configuration
PORT=3000