# Avalanche RPC URL
AVALANCHE_RPC_URL=https://api.avax.network/ext/bc/C/rpc
USDC_CONTRACT=0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E

# PostgreSQL Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=usdc_transactions
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# NestJS App Configuration
PORT=3000